<table>
    <colgroup>
        <col width="20%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
        <col width="20%" />
    </colgroup>
    <thead>
        <tr>
            <th colspan="1" rowspan="1">Bundes­land</th>
            <th class="center" colspan="5" rowspan="1">Elektro­nisch über­mittelte Fälle</th>
        </tr>
        <tr>
            <th colspan="1" rowspan="1"></th>
            <th class="center" colspan="1" rowspan="1">An­zahl</th>
            <th class="center" colspan="1" rowspan="1">Dif­fe­renz<br />
                zum <br />
                Vor­tag</th>
            <th class="center" colspan="1" rowspan="1">Fälle<br />
                in den <br />
                letzten<br />
                7 Tagen</th>
            <th class="right" colspan="1" rowspan="1">7-Tage-<br />
                Inzi­denz</th>
            <th class="center" colspan="1" rowspan="1">Todes­fälle</th>
        </tr>
    </thead>
    <tbody>
        <tr class="even">
            <td colspan="1" rowspan="1">Baden-Württem­berg</td>
            <td class="right" colspan="1" rowspan="1">34.937</td>
            <td class="right" colspan="1" rowspan="1">+25</td>
            <td class="right" colspan="1" rowspan="1">147</td>
            <td class="right" colspan="1" rowspan="1">1,3</td>
            <td class="right" colspan="1" rowspan="1">1.791</td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">Bayern</td>
            <td class="right" colspan="1" rowspan="1">47.371</td>
            <td class="right" colspan="1" rowspan="1">+37</td>
            <td class="right" colspan="1" rowspan="1">284</td>
            <td class="right" colspan="1" rowspan="1">2,2</td>
            <td class="right" colspan="1" rowspan="1">2.505</td>
        </tr>
        <tr class="even">
            <td colspan="1" rowspan="1">Berlin</td>
            <td class="right" colspan="1" rowspan="1">7.016</td>
            <td class="right" colspan="1" rowspan="1">+19</td>
            <td class="right" colspan="1" rowspan="1">176</td>
            <td class="right" colspan="1" rowspan="1">4,7</td>
            <td class="right" colspan="1" rowspan="1">205</td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">Branden­burg</td>
            <td class="right" colspan="1" rowspan="1">3.304</td>
            <td class="right" colspan="1" rowspan="1">+7</td>
            <td class="right" colspan="1" rowspan="1">23</td>
            <td class="right" colspan="1" rowspan="1">0,9</td>
            <td class="right" colspan="1" rowspan="1">160</td>
        </tr>
        <tr class="even">
            <td colspan="1" rowspan="1">Bremen</td>
            <td class="right" colspan="1" rowspan="1">1.531</td>
            <td class="right" colspan="1" rowspan="1">+14</td>
            <td class="right" colspan="1" rowspan="1">96</td>
            <td class="right" colspan="1" rowspan="1">14,1</td>
            <td class="right" colspan="1" rowspan="1">44</td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">Hamburg</td>
            <td class="right" colspan="1" rowspan="1">5.115</td>
            <td class="right" colspan="1" rowspan="1">+2</td>
            <td class="right" colspan="1" rowspan="1">22</td>
            <td class="right" colspan="1" rowspan="1">1,2</td>
            <td class="right" colspan="1" rowspan="1">254</td>
        </tr>
        <tr class="even">
            <td colspan="1" rowspan="1">Hessen</td>
            <td class="right" colspan="1" rowspan="1">10.207</td>
            <td class="right" colspan="1" rowspan="1">+4</td>
            <td class="right" colspan="1" rowspan="1">131</td>
            <td class="right" colspan="1" rowspan="1">2,1</td>
            <td class="right" colspan="1" rowspan="1">484</td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">Meck­lenburg-<br />
                Vor­pommern</td>
            <td class="right" colspan="1" rowspan="1">774</td>
            <td class="right" colspan="1" rowspan="1">+1</td>
            <td class="right" colspan="1" rowspan="1">13</td>
            <td class="right" colspan="1" rowspan="1">0,8</td>
            <td class="right" colspan="1" rowspan="1">20</td>
        </tr>
        <tr class="even">
            <td colspan="1" rowspan="1">Nieder­sachsen</td>
            <td class="right" colspan="1" rowspan="1">12.509</td>
            <td class="right" colspan="1" rowspan="1">+43</td>
            <td class="right" colspan="1" rowspan="1">436</td>
            <td class="right" colspan="1" rowspan="1">5,5</td>
            <td class="right" colspan="1" rowspan="1">605</td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">Nord­rhein-West­falen</td>
            <td class="right" colspan="1" rowspan="1">38.660</td>
            <td class="right" colspan="1" rowspan="1">+44</td>
            <td class="right" colspan="1" rowspan="1">594</td>
            <td class="right" colspan="1" rowspan="1">3,3</td>
            <td class="right" colspan="1" rowspan="1">1.623</td>
        </tr>
        <tr class="even">
            <td colspan="1" rowspan="1">Rhein­land-Pfalz</td>
            <td class="right" colspan="1" rowspan="1">6.781</td>
            <td class="right" colspan="1" rowspan="1">+6</td>
            <td class="right" colspan="1" rowspan="1">77</td>
            <td class="right" colspan="1" rowspan="1">1,9</td>
            <td class="right" colspan="1" rowspan="1">230</td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">Saarland</td>
            <td class="right" colspan="1" rowspan="1">2.747</td>
            <td class="right" colspan="1" rowspan="1">0</td>
            <td class="right" colspan="1" rowspan="1">22</td>
            <td class="right" colspan="1" rowspan="1">2,2</td>
            <td class="right" colspan="1" rowspan="1">166</td>
        </tr>
        <tr class="even">
            <td colspan="1" rowspan="1">Sachsen</td>
            <td class="right" colspan="1" rowspan="1">5.330</td>
            <td class="right" colspan="1" rowspan="1">+7</td>
            <td class="right" colspan="1" rowspan="1">26</td>
            <td class="right" colspan="1" rowspan="1">0,6</td>
            <td class="right" colspan="1" rowspan="1">214</td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">Sachsen-Anhalt</td>
            <td class="right" colspan="1" rowspan="1">1.720</td>
            <td class="right" colspan="1" rowspan="1">0</td>
            <td class="right" colspan="1" rowspan="1">12</td>
            <td class="right" colspan="1" rowspan="1">0,5</td>
            <td class="right" colspan="1" rowspan="1">56</td>
        </tr>
        <tr class="even">
            <td colspan="1" rowspan="1">Schles­wig-Holstein</td>
            <td class="right" colspan="1" rowspan="1">3.110</td>
            <td class="right" colspan="1" rowspan="1">+1</td>
            <td class="right" colspan="1" rowspan="1">11</td>
            <td class="right" colspan="1" rowspan="1">0,4</td>
            <td class="right" colspan="1" rowspan="1">147</td>
        </tr>
        <tr>
            <td colspan="1" rowspan="1">Thüringen</td>
            <td class="right" colspan="1" rowspan="1">3.081</td>
            <td class="right" colspan="1" rowspan="1">+4</td>
            <td class="right" colspan="1" rowspan="1">60</td>
            <td class="right" colspan="1" rowspan="1">2,8</td>
            <td class="right" colspan="1" rowspan="1">170</td>
        </tr>
        <tr class="even">
            <td colspan="1" rowspan="1"><strong>Gesamt</strong></td>
            <td class="right" colspan="1" rowspan="1"><strong>184.193</strong></td>
            <td class="right" colspan="1" rowspan="1"><strong>+214</strong></td>
            <td class="right" colspan="1" rowspan="1"><strong>2.130</strong></td>
            <td class="right" colspan="1" rowspan="1"><strong>2,6</strong></td>
            <td class="right" colspan="1" rowspan="1"><strong>8.674</strong></td>
        </tr>
    </tbody>
</table>